.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 360px;
}
label {
  display: block;
}
input,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  color: #fff;
  width: 94px;
  height: 40px;
  border: 1px solid #4e75ff;
  background-color: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
}
